.container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 0 32px;
}

.form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.terms {
  margin-top: 0.5rem;
}

.terms > input[type="checkbox"] {
  margin-right: 0.5em;
}
